:root {
    --tva-primary: #e9e9e1;
    --tva-primary-hover: #d5d514;
    --tva-primary-active: #d0d00f;
    --tva-secondary: #e9e9e1;
    --tva-secondary-background: #1b2c13;
    --tva-dark-green: #2A2920;
    --list-hover: #a7a5a1;
    --background-color: #e9e9e1;
    --foreground-color: #2A2920;
    --border: 1px solid #2A2920;
    --border-light: 1px solid #e9e9e1;
    --lineHeight: calc(var(--fontSize) * 1.5);
    --displayScale: 1;
    --pixel: 1px;
    --baseline: calc(var(--lineHeight) / 2);
    --blockSpacingTop: 0;
    --blockSpacingBottom: var(--lineHeight);
    --hrThickness: 1px;
    // formfield
    --primary-color: #e0e01f;
    --input-background:rgba(42, 41, 32, 0.1);
    --disabled: #a7a5a1;
    // Fontsetting
    --fontSize: 14px;
    --h1-size: 2.5rem;
    --h2-size: 2rem;
    --h3-size: 1.7rem;
    --h4-size: 1.4rem;
    --ratio: 1.25;
}

@supports (font-variation-settings: normal) {
    :root {
    //   --sansFont: 'neue-haas-unica', 'Helvetica Neue', 'Helvetica', 'Arial',
    //     sans-serif;
    --sansFont: 'neue-haas-unica', sans-serif;
    }
  }

@media (min-resolution: 1.5dppx) {
    :root {
        --displayScale: 2;
        --pixel: 0.5px;
    }
}
@media (min-resolution: 2.5dppx) {
    :root {
        --displayScale: 3;
        --pixel: 0.34px;
    }
}
@media (min-resolution: 3.5dppx) {
    :root {
        --displayScale: 4;
        --pixel: 0.25px;
    }
}

