
html {
  background: var(--background-color);
  color: var(--foreground-color);
  font-family: var(--sansFont), sans-serif;
  font-display: swap;
  font-size: var(--fontSize);
  line-height: var(--lineHeight);
  letter-spacing: -0.01em;
  text-size-adjust: 100%;
  font-variant-ligatures: contextual common-ligatures;
  font-feature-settings: 'kern' 1, 'liga' 1, 'calt' 1, 'cv10' 1;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-weight: 500;
}
