

/* document */
html {
    scrollbar-width: none;
}


body {
  background: var(--background-color);
  color: var(--foreground-color);
  font-family: var(--sansFont), sans-serif;
  font-display: swap;
  font-size: var(--fontSize);
  line-height: var(--lineHeight);
  letter-spacing: -0.01em;
  text-size-adjust: 100%;
  font-variant-ligatures: contextual common-ligatures;
  font-feature-settings: 'kern' 1, 'liga' 1, 'calt' 1, 'cv10' 1;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-weight: 500;
  width: 100%;
  height: 100%;
  cursor: url('/images/pointer/tva-pointer.png'), auto;
  /* You may need coordinates to adjust the pointer
     for example, the custom cursor is circular and you want
     the middle to be where you click */
  cursor: url('/images/pointer/tva-pointer.svg') 15 15, move;

}

body.animation {
    perspective: 40em;
}


