.main-container-wrapper {
    .product-grid-3,
    .product-grid-4 {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }
}





@media (max-width: 960px) {
    .main-container-wrapper {
        .product-grid-3,
        .product-grid-4 {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(322px, 1fr));
        }
    }
}
