@charset "UTF-8";

@import "base/variables", "base/reset", "base/main", "base/tvaTypography";

@import "main/header", "main/product", "main/footer", "main/body", "main/about-page",
    "main/register", "main/home-page",  "main/profile", "main/profileEdit", "main/profileOrder", "main/catPages", "main/search", "main/checkout";

@import "components/tvaInput", "components/horizontalScroll",
    "components/tvaBtn", "components/tvaClose", "components/icons", "components/shopArticle",
    "components/cart", "components/breadcrumb", "components/productSticker", "components/loginPanel",
    "components/notificatons", "components/searchPanel", "components/categories",
    "components/productHero", "components/newsletterPanel", "components/cartIndex",
    "components/filterContainer", "components/custom-checkbox" ,"components/customSelectBox" ,"components/addressHolder"
    ,"components/badge","components/lazy","components/consentPopup","components/preloader";
