$body-background: $white;
$background-color: #f8f9fa;
$border-color: rgba(162, 162, 162, 0.2);
$navbar-top-background: $white;
$primary: #544AC1;
$text-primary: #544AC1;

// Accordion
$accordian-header: #fbfbfb;

// Buttons
$btn-primary: $white;
$btn-primary-bg: #544AC1;

// Cards
$card-title: #a2a2a2;
$card-background: $white;

// Dashboard
$dashboard-stats-data: #544AC1;

// Typography
$font-family: 'Inter', sans-serif;
$font-size-base: 14px;
$font-color: #3A3A3A;

$link-color: #a2a2a2;
$link-active-color: #a2a2a2;
