.add-cart {
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    height: 100%;
    align-items: self-end;
    justify-items: center;
    align-items: center;
    display: grid;
}
.cart-panel {
    text-transform: none;
    opacity: 0;
    transition:  opacity 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    // grid-column: 1 / 9;
    grid-row: 2;
    position: absolute;
    color: var(--foreground-color);
    background: var(--background-color);
    width: 100%;
    left: -200%;

    .cart-header {
        width: 30%;
        margin-left: auto;
        border-left: var(--border);
        border-top: var(--border);
        p.cart-total {
            margin-bottom: 0;
        }
        .cart-total {
            padding: calc(var(--fontSize) * 0.5);
            display: flex;
            justify-content: space-between;
        }
        .cart-close {
            display: flex;
            justify-content: flex-end;
            padding: 1rem;
            margin-left: auto;
        }
    }

    .cart-item {
        border-top: var(--border);
        border-bottom: var(--border);
        .cart-legend-heading {
            display: flex;
            justify-content: space-between;
            border-bottom: var(--border);
            width: 100%;
            .legend-heading {
                padding: 12px;
                h2 {
                    margin: 0;
                }
            }
        }
        .cart-legend {
            display: grid;
            grid-template-columns: 119px 3fr 2fr 1fr;
            width: 100%;
            border-bottom: var(--border);
            .cart-legend-item,
            .cart-legend-image,
            .cart-legend-price,
            .cart-legend-quantity {
                border-left: var(--border);
                padding: calc(var(--fontSize) * 0.5);
            }
            .cart-legend-price {
                justify-self: end;
            }
            .cart-legend-image{
                border-left: none;
            }
        }
    }

    .mini-cart-cta {
        width: 30%;
        margin-left: auto;
        border-left: var(--border);
    }

    .cart-content {
        transform: translateX(-10px);
        opacity: 0;
        transition-property: transform, opacity;
        transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
        transition-duration: 0.25s;
        // transition-delay: 0.3s;
        .title {
            padding: calc(var(--fontSize) * 0.5);
        }
        .price {
            justify-self: end;
            padding: calc(var(--fontSize) * 0.5);
            h5 {
                margin: 0;
            }
        }
        .quantitys {
            padding: calc(var(--fontSize) * 0.5);
        }
        .cart-content-img {
            border-right: var(--border);
        }
        .cart-content-info {
            display: grid;
            grid-template-columns: 2fr 1fr 1fr;
            align-items: baseline;
        }
    }
    .close {
        position: relative;
    }
    .close:after {
        --rotate: 45deg;
        content: "";
        background: var(--background-color);
        height: 12px;
        width: 2px;
        position: absolute;
        left: 50%;
        top: 50%;
        border-radius: 1px;
        transform: translate(-50%, -50%) rotate(var(--rotate));
    }
    .close:before {
        --rotate: 45deg;
        content: "";
        background: var(--background-color);
        height: 12px;
        width: 2px;
        position: absolute;
        left: 50%;
        top: 50%;
        border-radius: 1px;
        transform: translate(-50%, -50%) rotate(var(--rotate));
    }
    .close:after {
        --rotate: -45deg;
    }
    .cart-more,
    .cart-continue {
        width: 100%;
        padding: calc(var(--fontSize) * 0.5);
        display: grid;
    }
}


.cart-panel.is-open {
    opacity: 1;
    left: 0;
    .cart-content {
        opacity: 1;
        transform: none;
        border-bottom: var(--border);
        display: grid;
        grid-template-columns: 120px 1fr;
    }
    .cart-content:nth-child(3) {
        transition-delay: 0.16s;
    }
    .cart-content:nth-child(4) {
        transition-delay: 0.22s;
    }
    .cart-content:nth-child(5) {
        transition-delay: 0.28s;
    }
    .cart-content:nth-child(6) {
        transition-delay: 0.34s;
    }
    .cart-content:nth-child(7) {
        transition-delay: 0.4s;
    }
    .cart-content:nth-child(8) {
        transition-delay: 0.46s;
    }
}


#currentlyAdded {
    opacity: 0;
    transition: opacity 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

#currentlyAdded.cart-panel {
    grid-column: 1 / 9;
    border-top: none;
    z-index: 1000;
    display: grid;
    border-bottom: none;
    color: var(--foreground-color);
    background: var(--background-color);
    left: -300%;
    .cart-content-added {
        display: flex;
        border-bottom: none;
        border-left: none;
    }
    .title {
        margin-bottom: 0;
    }
    .cart-item {
        border-top: var(--border);
        border-bottom: var(--border);
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
    .cart-content-img {
        border-right: var(--border);
    }
    .cart-content-info {
        display:flex;
        align-self: center;
        .title {
            padding-left: 1em;
        }
    }
    .currentlyAdded-btn {
        border-left: var(--border);
        display: flex;
        flex-direction: column;

    }
    .dropdown-content {
        width: 100%;
    }
    .price {
        display: none;
    }
    .cart-more,
    .cart-continue {
        height: fit-content;
        height: 100%;
    }
}

@media (max-width: 960px) {
    .cart-panel {
        width: 100vw;
        height: 100vh;
        .cart-header {
            width: 100%;
        }
        .mini-cart-cta {
            width: 100%;
        }
        .cart-content {
            border-bottom: var(--border);
            display: grid;
            grid-template-columns: 120px 1fr;
            .title {
            }
            .price {
                justify-self: end;
            }
            .quantitys {
                display: none;
            }
            .cart-content-img {
                border-right: var(--border);
            }
            .cart-content-info {
                display: grid;
                grid-template-columns: 1fr;
                align-items: baseline;
            }
        }
    }

    .cart-mobile {
        display: grid;
        place-items: center;
        grid-column: 4 / 4;
        grid-row: 1;
        padding: calc(var(--fontSize) * 0.5);
        border-bottom: var(--border);
        border-right: var(--border);
    }
    .cart-panel {
        grid-column: 1 / 4;
        width: 100vw;
        z-index: 2;
    }
    #currentlyAdded.cart-panel {
        grid-column: 1 / 4;
        border-top: none;
        z-index: 1000;
        border-bottom: none;
        height: 100%;
        .cart-content-added {
            border-bottom: none;
        }
        .cart-item {
            border-bottom: none;
        }
        .cart-content-img {
            height: 100%;
            width: auto;
        }
        .dropdown-cart{
            color: var(--foreground-color);
            background: var(--background-color);
        }
        .currentlyAdded-btn {
            border-top: var(--border);
            border-bottom: var(--border);
            border-left: none;
        }
        .dropdown-content {
            display: flex;
            flex-direction: column;
        }
    }
}

@media (max-width: 736px) {
    .cart-panel {
        .cart-item {
            .cart-legend {
                display: none;
            }
        }
        .mini-cart-cta {
            border-left: none;
        }
        .cart-header {
            border-left: none;
        }
    }
    .cart-mobile {
        grid-column: 4 / 5;
        grid-row: 1;
    }

}
