.categories-heading {
    text-align: center;
    word-break: normal;
    h1 {
        margin: 0;
    }
}
.shop-categories {
    display: flex;
    place-items: center;
    padding: 45px 0;
    padding-top: 80px;
    flex-direction: column;
    .categories-toggle {
        margin: 1em 0;
        li {
            display: inline;
            padding: calc(var(--fontSize) * 0.5);
            a {
                text-decoration: none;
                opacity: 0.5;
                transition: opacity 0.3s cubic-bezier(0.86, 0, 0.07, 1);
            }
        }
        li {
            a:hover {
                color: var(--foreground-color);
                opacity: 1;
            }
        }
        li {
            a.active {
                opacity: 1;
                border-bottom: var(--border);
            }
        }
    }
}
@media (max-width: 460px) {
    .shop-categories {
        padding-bottom: 1rem;
        .categories-toggle {
            li {
                display: grid;
                grid-auto-flow: row;
                text-align: center;
            }
        }
        .categories-heading {
            h1 {
                font-size: 4em;
                margin-bottom: 0;
                padding-bottom: 0;
            }
        }
    }
}
