.categories-heading {
    text-align: center;
    word-break: normal;
    h1 {
        margin: 0;
    }
}
.shop-categories {
    display: flex;
    place-items: center;
    padding: 45px 0;
    padding-top: 60px;
    flex-direction: column;
    border-bottom: var(--border);
    .categories-toggle {
        li {
            // font-size: 22px;
            text-transform: uppercase;
            display: inline;
            padding: calc(var(--fontSize) * 0.5);
            a {
                text-decoration: none;
                color: var(--disabled);
            }
        }
        li {
            a.active {
                color: var(--foreground-color);
                border-bottom: var(--border);
            }
        }
    }
}
@media (max-width: 560px) {
    .shop-categories {
        padding-bottom: 1rem;
        .categories-toggle {
            li {
                display: grid;
                grid-auto-flow: row;
                text-align: center;
            }
        }
        .categories-heading {
            h1 {
                margin-bottom: 0;
                padding-bottom: 0;
            }
        }
    }
}
