.cross-icon {
    background-image: url('/vendor/webkul/ui/assets/images/Icon-Crossed.svg');
    width: 18px;
    height: 18px;
}

.arrow-down-icon {
    background-image: url('/vendor/webkul/ui/assets/images/Angle-Down-Light.svg');
    width: 18px;
    height: 18px;
}
