
.alert-wrapper {
    width: 100%;
    display: flex;
    right: 0;
    position: fixed;
    z-index: 999;
    text-align: center;
    .alert {
        background: var(--background-color);
        width: 100%;
        padding: 15px;
        display: inline-block;
        position: absolute;
        animation: all 13s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.4s;
        border-left: none;
        border-top: var(--border);
        border-bottom: var(--border);
        z-index: 999;
        top: -256px;
        p {
            margin: 0;
            padding: 0;
            font-size: 18px;
        }
    }
}





.alert-wrapper .alert.alert-error {
    width: 100%;

}
.alert-wrapper .alert.alert-info {
    width: 100%;
}
.alert-wrapper .alert.alert-success {
    width: 100%;

}
.alert-wrapper .alert.alert-warning {
    width: 100%;
}


.control-error {
    color: var(--background-color);
    background: var(--foreground-color);
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    z-index: 999;
}