
// overlay
.modal-overlay-employed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  overflow-y: scroll;
  z-index: 500;
  padding: 20px;
  justify-content: center;
  align-items: center;
  transition: background var(--duration) ease;
  background-color: var(--background-color-alpha);
  backdrop-filter: saturate(180%) blur(5px);
}

.is-visible {
  display: flex;
}
.is-hidden {
  display: none;
}

.modal-employed{
  border: 1px solid var(--foreground-color);
  border-radius: var(--b-r-small);
  padding: 2em;
  background-color: var(--background-color);
  display: grid;
  max-width: 960px;
  z-index: 500;
  h1,
  p {
    text-align: center;
  }
  p.subheading {
    font-size: 18px;
    margin-bottom: calc(var(--lineHeight) * 1);
  }
  .modal-employed-header{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .social-media-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    a {
        margin: 0 10px;
    }
  }
}


@media (max-width: 767px) {
  .modal-overlay-employed {
    padding: 20px;
  }
  .modal-employed{
    h1,
    p {
      text-align: center;
    }
    h1 {
      font-size: 30px;
    }
  }
}




@media (max-width: 321px) {
  .modal-overlay-employed {
    padding: 20px;
  }
  .modal-employed{
    h1,
    p {
      text-align: center;
    }
    h1 {
      font-size: 24px;
      line-height: 24px;
    }
    p.subheading {
      font-size: 12px;
      margin-bottom: calc(var(--lineHeight) * 0.5);
    }
  }
}

