
  #preload-homepage {
    z-index: 1001;
    justify-content: center;
    overflow: hidden;
    border-radius: 99em 99em 0 0;
    background-color: var(--background-color);
    opacity: 0;
    transform: translateY(2000px) scale(1);
    transition-property: transform, opacity;
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    transition-duration: 1s;
    span {
        overflow: hidden;
        display: block;
    }
    .intro {
        text-align: center;
        padding: 10em;
        margin: 0 auto;
        opacity: 0;
        transform: translateY(2000px) scale(0.5);
        transition-property: transform, opacity;
        transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
        transition-duration: 1s;
        transition-delay: 0.1s;
        svg {
            width: 30vw;
            height: auto;
            path,
            circle {
                fill: var(--foreground-color);
            }
        }
    }
}

#preload-homepage.loaded {
    transform: translateY(0);
    opacity: 1;
    .intro {
        opacity: 1;
        transform: translateY(0) scale(0.5);
        transition-property: transform, opacity;
        transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
        transition-duration: 0.3s;
    }
}


#preload-homepage.fade-in {
    transform: scale(2.5);
    .intro {
        opacity: 0;
        transform: scale(0.5);
        transition-delay: 0s;
    }
}
