.hero-section {
    cursor: pointer;
    display: flex;
}

.hero-section {
    .thumb-list {
        display: flex;
        flex-direction: column;
        width: 24.78%;
        overflow: hidden;
        position: relative;
        justify-content: flex-start;
        .thumb-frame {
            border-bottom: var(--border);
            border-top: none;
            .tva-image-subpage-thumb {
                filter: blur(3px)
            }
            &:hover {
                .tva-image-subpage-thumb {
                    filter: blur(0px)
                }
            }
        }
    }
}



.tva-image-subpage {
    border-radius: 0;
    width: 100%;
    border: var(--border);
    border-left: var(--border);
    border-bottom: var(--border);
    border-top: none;
}


@media (max-width: 414px) {
    .hero-section {
        .thumb-list {
            width: 24.6%;

        }
    }

}

@media (max-width: 360px) {
    .hero-section {
        .thumb-list {
            width: 24.5%;

        }
    }

}
