@keyframes button-hover {
    to {
        transform: translateY(32px);
    }
    0% {
        transform: translateY(0);
    }
    49% {
        transform: translateY(-24px);
    }
    51% {
        transform: translateY(24px);
    }
    to {
        transform: translateY(0);
    }
}
.btn-hover {
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 1em 4em;
    margin: -2em;
}
.btn-x-large {
    padding: 1em 10em;
}
.btn {
    background-color: var(--tva-primary);
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    border: var(--border);
    min-height: 32px;
    line-height: 30px;
}
.btn-grid {
    min-height: 45px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    place-items: center;
    white-space: nowrap;
    cursor: pointer;
    display: grid;
    font-size: 18px;
    // text-transform: uppercase;
}



@media (max-width: 1280px) {
    .btn-grid {
        font-size: 16px;
    }
 }

.btn-grid-large {
    font-size: 20px;
    padding: 10px 20px;
    height: 64px;
    // text-transform: uppercase;
}

.btn-grid-primary {
    // background-color: var(--tva-primary);
}
.btn-grid-black {
    background-color: var(--background-color);
}
.btn-grid-white {
    background-color: var(--background-color);
    span {
        color: var(--tva-secondary);
    }
}
.btn-grid-secondary {
    background-color: var(--tva-secondary);
    span {
        color: var(--background-color);
    }
}
.btn-grid-secondary:hover {
    background-color: var(--background-color);
    span {
        color: var(--background-color);
    }
    .btn-hover {
        animation-name: button-hover;
        animation-duration: 0.25s;
        animation-timing-function: linear;
    }
}
.btn-grid-white:hover {
    background-color: var(--tva-secondary);
    span {
        color: var(--background-color);
    }
    .btn-hover {
        animation-name: button-hover;
        animation-duration: 0.25s;
        animation-timing-function: linear;
    }
}
.btn-grid-neutral:hover {
    .btn-hover {
        animation-name: button-hover;
        animation-duration: 0.25s;
        animation-timing-function: linear;
    }
}


.btn-grid-black:hover {
    background-color: var(--tva-dark-green);
    span,
    button,
    a {
        color: var(--background-color);
    }
    .btn-hover {
        animation-name: button-hover;
        animation-duration: 0.25s;
        animation-timing-function: linear;
    }
    .cart-icon {
        svg {
            width: 24px;
            height: 27px;
            fill: var(--background-color);
        }
    }
}
.btn-grid-primary:hover,
.btn:hover {
    background-color: var(--tva-secondary);
    .btn-hover {
        animation-name: button-hover;
        animation-duration: 0.25s;
        animation-timing-function: linear;
    }
}

.btn-grid-primary:active,
.btn:active {
    background-color: var(--tva-secondary);
}

.btn-grid-primary:focus,
.btn:focus {
    background-color: var(--tva-primary);
}
.btn-grid-primary.is-open {
    background-color: var(--tva-primary);
}

.btn-grid-black.is-open {
    background-color: var(--tva-dark-green);
    span {
        color: var(--background-color);
    }
}


@media (max-width: 1250px) {
    .btn-hover {
        padding: 2em 3.2em;
        margin: -2em;
    }
}
@media (max-width: 736px) {
    .btn-hover {
        padding: 1em 2em;
        margin: -2em;
    }
}

.btn-close {
    height: 25px;
    width: 25px;
    right: 14px;
    top: 18px;
    position: absolute;
    transition: all 0.2s;
    border: none;
    text-indent: -99999px;
    background: url('../icons/closeTva.svg');
    cursor: pointer;
}
.btn-close:hover {
    transform: rotate(-90deg);
}


.btn-close-white {
    height: 25px;
    width: 25px;
    right: 0px;
    top: 0px;
    margin: 20px;
    position: absolute;
    transition: all 0.2s;
    border: none;
    text-indent: -99999px;
    background: url('../icons/closeTvaWhite.svg');
    cursor: pointer;
}
.btn-close:hover {
    transform: rotate(-90deg);
}
